
.title_salvar{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.salvar{
    width: 152px;
    height: 45.29px;
    flex-shrink: 0;
    border-radius: 17px;
    background: var(--cor-primaria);
    color: var(--cor-text-white);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.content_top{

    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;

}
.left_content{
    display: flex;
    flex-direction: column;
}

.left_content label {

    color: var(--cor-text-gray);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    margin-top: 33px;

}

.inputs_left{
    width: 387px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #0500FF;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 11.8px 0px rgba(5, 0, 255, 0.25);
    padding-left: 24px;
}

.right_content{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    gap: 150px;
}
.label_input_file{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 49px;
    flex-shrink: 0;
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
    font-size: 16px;
    font-weight: 700;
    
}
.icon_curso{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon_curso input{
    display: flex;
    flex-direction: column;
}

.file_input {
    width: 134px;
    height: 134px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #785FEE;
    background-color: transparent;
}

.descricao{
    display: flex;
    flex-direction: column;
    padding: 28px 30px;
    height: 273px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.desc_title{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
}
.descricao h3 {
    margin: 0;
}
.descricao textarea {
    resize: none;
    max-width: 900px;
    margin: 0;
    height: 100%;
    font-size: 18px;
    color: var(--cor-text-gray);
}