:root {
    --cor-primaria: #785FEE; 
    --cor-secundaria: #C5FFF8; 
    --cor-terciaria: #96EFFF;
    --cor-text-white: #FFFF;
    --cor-text-gray: #6C757D;
    --cor-text-black: #000000;
    --cor-border-gray: #0000002d;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border: none;
    font-family: "Roboto", sans-serif;
}

body{

    min-height: 99vh;
    overflow-x: hidden;
    min-width: 99vw;
    padding-bottom: 28px;
}

html{
    height: fit-content;
}

button{
    cursor: pointer;
    box-shadow: 0px 4px 11.8px 0px rgba(0, 0, 0, 0.25);
}

.container{

    max-width: 1280px;
    width: 100%;
    gap: 24px;
}

h1{
    color: var(--cor-text-black);
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 2.08px;
}

h2{
    color: var(--cor-text-black);
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1.36px;
}

h3{
    color: var(--cor-text-black);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.12px;
}

p{
    color: var(--cor-text-gray);
}
header{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    max-width: 100%;
    width: 100%;
    background-color: var(--cor-primaria);
    height: 6.5rem;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}
.logo_header{
    display: flex;
    align-items: center;
    max-width: 280px;
}
.logo_header h4{
    margin-top: 16px;
    color: var(--cor-text-white);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.12px;

}
.btn-primary{
    border-radius: 17px !important;
    background-color: var(--cor-primaria) !important;
}
button:hover {
    transform: scale(0.95);
    transition: background-color 0.3s ease, transform 0.3s ease
}